/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family);
}

html {
    font-size: var(--main-font-size);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    background: var(--main-bg-color);
    color: var(--main-text-color);
}

.expense-section,
.income-section {
    display: none;
}

.expense-section.open,
.income-section.open {
    background-color: var(--second-bg-color);
    border-radius: 20px;
    padding: 1rem;
    box-shadow: var(--main-box-shadow);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 0;
}

.expense-section select,
.income-section select,
.expense-section input,
.income-section input {
    width: 100%;
    height: 30px;

    padding: 4px 4px;
    font-size: var(--main-font-size);
    text-align: center;
    background-color: var(--input-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 20px;
    transition: 0.25s;
}

.expense-section input:focus,
.income-section input:focus {
    background-color: var(--input--focus-bg-color);
    border: 1px solid var(--primary-color);
    outline: none;
}

.expense-section input:hover,
.income-section input:hover {
    transform: scale(1.01);
    opacity: 0.95;
}

.expense-section select:focus,
.income-section select:focus {
    background-color: var(--input--focus-bg-color);
    border: 1px solid var(--primary-color);
    outline: none;
}

.expense-section select:hover,
.income-section select:hover {
    transform: scale(1.01);
    opacity: 0.95;
}

.expense-section button,
.income-section button {
    width: 100%;
    height: 30px;
    font-size: var(--main-font-size);
    background-color: var(--primary-color);
    color: var(--button-text-color);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
    grid-column: 1 / -1;
}

.expense-section button:hover,
.income-section button:hover {
    transform: scale(1.02);
    background-color: var(--primary-color);
}

.full {
    grid-column: 1 / -1;
}

@media (min-width: 1024px) {
    body {
        align-items: center;
        padding-top: 3rem;
    }
}